header {
    text-align: center;
    /* position: fixed; */
    /* top: 0; bottom: 80%; left 20%; right: 0; */
    background: lightgray;
}

body {
  font: 300 15px/1.5 "Roboto", "HelveticaNeue", "Helvetica Neue", helvetica, arial, sans-serif;
}

#toc-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 0;
    min-width: 1.33em;
    box-shadow: 0 0 2px;
    /* font-size: 1.2em; */
    color: black;
    background: #bbffff;
}

#toc-nav p {
    display: list-item;
    padding:0 5px;
    list-style:none;
    margin:0 0 0 20px;
    font-size: 1.5em;
}

#toc-nav a {
    display: list-item;
    padding:0 5px;
    list-style:none;
    margin:0 0 0 20px;
}
.nav-footer {
	margin:0;
}
.nav-footer ul {
	margin:0 0 0 0;
}
nav li {
	display:block;
	float:left;
	width:auto;
	margin:2px 10px 2px 0;
	padding:3px 0;
}
nav li.rss a {
	background:url(img/icon-rss.png) 95% 45% no-repeat;
	padding-right:25px;
}
nav a {
	padding:5px 10px;
	color:#000;
	text-decoration:none;
}
nav a:hover, nav a.active, nav li.rss a:hover {
	color:#fff;
	background:#0481b5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-shadow:1px 1px 1px #000;
}

nav li.rss a:hover {
    background:#0481b5 url(img/icon-rss.png) 95% 45% no-repeat;
}
#navbar {
    float:right;
    width:auto;
}
#navbar a:hover {
    float:right;
    width:auto;
}

html, body, div, span, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  abbr, address, cite, code,  del, dfn, em, img, ins, kbd, q, samp,  small, strong, sub, sup, var,  b, i,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary,  time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1.429;
}

/* #hdiv {position: relative; height: 150px; margin-top: 50px;} */
/* #menlogif {float: left; position: absolute; top: 0px; left: 0px;} */
/* #nsfgif {float: left; position: absolute; width: 350px; top: 100px; right: 0px;} */
/* #fssft {float: center; width: 400px; position: absolute; top: 0px; left: 200px;} */
/* #fssft {font-size: 200%;} */

/* Headers */
h2 {font-size: 1.571em}
h3 {font-size: 1.429em}
h4 {font-size: 1.286em}
h5 {font-size: 1.143em}
h6 {font-size: 1em}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    color: #0000cd;
    /* border-bottom: 1px solid #781351; */
}

h1, h2, h3, h4, h5, h6 {
    font-family:Cambria, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
    padding-bottom:5px;
}

h1 {
    font-size: 40px;
    /* padding-left:35px; */
}
 
/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

li ol {
    list-style-position: inside;
}

ol li {
    text-indent: -3ex;
    margin-left: 5ex;
}

/* Inline elements */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #C74350;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
 
strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Matches the portion of an element that is selected by a user. */
::selection {background: #F6CF74; color: #fff;}
 
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

nav {
    text-align: left;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 80%;
    background: lightgray;
    font-family:Cambria, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
    font-weight:bold;
    margin-bottom:15px;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

span.lecturer { color: #06166C; font-size: large; font-weight: 500; }
span.lecture { color: #801008;  font-size: x-large; font-weight: bold; }
span.materials { color: black;  font-size: medium; }
span.materials p { margin-left: 1em; }

td label
{
/* width: 6em; */
/* float: left; */
text-align: right;
margin-right: 0.5em;
/* display: inline; */
}

td { vertical-align: middle; text-align: right}

td input, textarea
{
  color: #781351;
  background: #F5F5F5;
  border: 1px solid #781351;
  width: 600px;
}

#event { text-align: left; }
#event input { width: 2ex;}

#gender { text-align: left; }
#gender input { width: 2ex;}

input { margin-top: 5px }

textarea { margin-top: 8px; }

span#warn { color: red; }

#group-photo { width: 800px; height: 500px; object-fit: cover; object-position: top; }
